<div *ngIf="i18nService.i18n$ | async as i18n">
  <ng-template #headerNode>
    {{ i18n.msgStr('loginAccountTitle') }}
  </ng-template>

  <ng-template #infoNode>
    <div id="kc-registration-container">
      <div id="kc-registration">
        <span>
          {{ i18n.msgStr('noAccount') }}
          <a tabindex="8" [href]="kcContext?.url?.registrationUrl">
            {{ i18n.msgStr('doRegister') }}
          </a>
        </span>
      </div>
    </div>
  </ng-template>

  <ng-template #socialProvidersNode>
    <div
      *ngIf="kcContext?.realm?.password && kcContext?.social?.providers?.length"
      id="kc-social-providers"
      [ngClass]="getSocialAccountSectionClass()"
    >
      <hr />
      <h2>{{ i18n.msgStr('identity-provider-login-label') }}</h2>
      <ul [ngClass]="getSocialAccountListClass()">
        <li *ngFor="let provider of kcContext.social.providers; trackBy: trackByProvider">
          <a
            [id]="provider.alias"
            [ngClass]="getProviderButtonClass(provider)"
            [href]="provider.loginUrl"
            type="button"
          >
            <i *ngIf="provider.iconClasses" [ngClass]="getProviderIconClass(provider)"></i>
            <span [ngClass]="getProviderTextClass(provider)" [innerHTML]="provider.displayName | sanitizeHtml"></span>
          </a>
        </li>
      </ul>
    </div>
  </ng-template>

  <div id="kc-form">
    <div id="kc-form-wrapper">
      <form *ngIf="kcContext?.realm?.password" id="kc-form-login" (submit)="onLoginSubmit()" [action]="kcContext?.url?.loginAction" method="post">
        <div *ngIf="!kcContext?.usernameHidden" [ngClass]="getFormGroupClass()">
          <label for="username" [ngClass]="getLabelClass()">{{ getUsernameLabel(i18n) }}</label>
          <input
            tabindex="2"
            id="username"
            [ngClass]="getInputClass()"
            name="username"
            type="text"
            autofocus
            [value]="kcContext?.login?.username || ''"
            [attr.aria-invalid]="hasFieldError('username', 'password')"
          />
          <span *ngIf="hasFieldError('username', 'password')" id="input-error" [ngClass]="getInputErrorClass()" aria-live="polite" [innerHTML]="getFieldError('username', 'password') | sanitizeHtml"></span>
        </div>

        <div [ngClass]="getFormGroupClass()">
          <label for="password" [ngClass]="getLabelClass()">
            {{ i18n.msgStr('password') }}
          </label>

          <kc-password-wrapper passwordInputId="password-new" (i18n)="i18n">
            <input
              tabindex="3"
              id="password"
              [ngClass]="getInputClass()"
              name="password"
              type="password"
              autocomplete="off"
            />
          </kc-password-wrapper>
          <span *ngIf="hasFieldError('username', 'password')" id="input-error" [ngClass]="getInputErrorClass()" aria-live="polite" [innerHTML]="getFieldError('username', 'password') | sanitizeHtml"></span>
        </div>

        <div [ngClass]="getFormGroupSettingClass()">
          <div id="kc-form-options">
            <div *ngIf="kcContext?.realm?.rememberMe && !kcContext?.usernameHidden" class="checkbox">
              <label>
                <input
                  tabindex="5"
                  id="rememberMe"
                  name="rememberMe"
                  type="checkbox"
                  [checked]="kcContext?.login?.rememberMe === 'on'"
                />
                {{ i18n.msgStr('rememberMe') }}
              </label>
            </div>
          </div>

          <div [ngClass]="getFormOptionsWrapperClass()">
            <span *ngIf="kcContext?.realm?.resetPasswordAllowed">
              <a tabindex="6" [href]="kcContext?.url?.loginResetCredentialsUrl">
                {{ i18n.msgStr('doForgotPassword') }}
              </a>
            </span>
          </div>
        </div>

        <div id="kc-form-buttons" [ngClass]="getFormGroupClass()">
          <input type="hidden" id="id-hidden-input" name="credentialId" [value]="kcContext?.auth?.selectedCredential" />
          <input
            tabindex="7"
            [ngClass]="getButtonClass()"
            name="login"
            id="kc-login"
            type="submit"
            [value]="i18n.msgStr('doLogIn')"
            [disabled]="kcContext?.isLoginButtonDisabled"
          />
        </div>
      </form>
    </div>
  </div>
</div>
